
  <div class="dark site-region" data-menu-item="#part1Btn" id="part1" style="height: 566px; background-position: 50% -197px;">

    <div class="navbar " id="top_navbar" style="display: block;">
      <div class="navbar-wrapper ">
        <div class="left-nav">
          <a class="logo-regular" href="#"><img alt="Logo" src="assets/logo1.png" title="email me" class="imgManipulation im1"></a> <!-- thnkinh about linking ti to contacting me -->
          <a class="logo-fixed" href="#part1"><img alt="Logo nav" src="assets/jodex.jpg" class="imgManipulation im2"></a> <!-- link to home page -->
        </div>

        <div class="nav-collapse ">
          <span class="movingUnderlay" style="left: 9px; width: 55px;"></span>
          <ul class="nav navbar-nav navbar-right headerFormat ">
            <li><%= link_to "Home", root_path, class: "listHeader spaceRight" %></li>
            <li><%= link_to "About Me", "#part2", class: "listHeader spaceRight" %></li>
            <li><%= link_to "What i Do", "#part3", class: "listHeader spaceRight" %></li>
            <li><%= link_to "Projects", "#part4", class: "listHeader spaceRight" %></li>
            <li><%= link_to "WorkLanguages", "#part5", class: "listHeader spaceRight" %></li>
            <li><%= link_to "Contact Me",contacts_path,  class: "listHeader spaceRight" %></li>
          </ul>
          <!--
          <div class="navbar-item"><a href="#part1" id="HomeBtn">Home</a></div>
          <div class="navbar-item"><a href="#part2" id="AboutusBtn">About us</a></div>
          <div class="navbar-item"><a href="#part3" id="PortfolioBtn">Portfolio</a></div>
          <div class="navbar-item"><a href="#part5" id="ProjectsBtn">Projects</a></div>
          <div class="navbar-item"><a href="#part8" id="TeamBtn">Team</a></div>
          <div class="navbar-item" data-label="Work"><a href="https://binarapps.com/praca">Work</a></div>
          <div class="navbar-item" data-label="Blog"><a href="https://binarapps.com/blog/">Blog</a></div>
          <div class="navbar-item"><a href="#footerInner" id="ContactBtn">Contact</a></div>
          -->
        </div>
        <div class="container no-top-margin">
          <div class="heading">
            <div class="head-row">I Am</div>
            <div class="head-row">
              <span class="pink-font" style="margin-left: 10%" > A SOFTWARE/ WEB DEVELOPER</span>
            </div>
          </div>
          <div class="intro">
            <div class="intro-row">I am passionate about Ruby on Rails and new web</div>
            <div class="intro-row">technologies. </div>
          </div>
          <div class="btn btn-info start" style="background-color: #ccc">
            <div class="get-str-btn" style="margin-bottom: 5%;"><a class="btn button1" href="#part2" id="getStartedBtn" style="color: black">get started</a></div>
            <div class="arrow-down"><a href="#part2" id="dotsBtn"><img alt="Arrow down" src="assets/arrow-down.png"></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>





