<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Jodex-website</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">

<div class="p_header">
  <%= render "layouts/header" %>
</div>
<div class="p_header">
  <%= yield %>
</div>

<div class="footerStyling">
  <%= render "layouts/footer" %>
</div>

</div>
</body>
</html>
